[Unit]
Description=Run pi-monitor every minute
Requires=pi-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Unit=pi-monitor.service

[Install]
WantedBy=timers.target
